<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Main</title>
    <link rel="stylesheet" href="https://snipp.ru/cdn/chosen/1.8.7/chosen.min.css">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/chosen/1.8.7/chosen.jquery.min.js"></script>
</head>
<body>

<form name="Машина" action="#" id="newcar" th:action="@{/createcar}" th:object="${car}" method="post">
    <input type="text" name="username" th:field="*{brand}" class="form-control" placeholder="Марка машины" required><br>
    <input type="text" name="model" th:field="*{model}" class="form-control" placeholder="Модель машины" required><br>
    <input type="text" name="technicalPassport" th:field="*{technicalPassport}" class="form-control" placeholder="Тех. паспорт" required><br>
    <input type="text" name="stateNumber" th:field="*{stateNumber}" class="form-control" placeholder="Гос. номер" required><br>
    <input type="text" name="year" th:field="*{year}" class="form-control" placeholder="Год выпуска машины"><br>
    <input type="text" name="info" th:field="*{info}" class="form-control" placeholder="Доп. информация"><br>
    <input type="submit" value="Отправить"> <br>
</form>


</body>
</html>