<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Please sign in</title>
    <meta charset="UTF-8">
    <title>Choosing page</title>



</head>



<body>

<div>
    <p th:text="${error}"></p>
    <a href="/home/finishorder" th:if="${error} == 'У вас есть незаверешенный заказ'">Оплатить текущий заказ</a> <br>
    <a href="/home" th:if="${error} != 'У вас есть незаверешенный заказ'">Домой</a> <br>
</div>



<a href="/logout">Выход</a>

</body>
</html>