
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Please sign in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <script >

    $(function() {
        $("#passwordConfirm").on("keyup", function() { // Выполняем скрипт при изменении содержимого 2-го поля

		var value_input1 = $("#password").val(); // Получаем содержимое 1-го поля
		var value_input2 = $(this).val(); // Получаем содержимое 2-го поля



		if(value_input1 != value_input2) {

			$(".error").html("Пароли не совпадают!"); // Выводим сообщение
			$("#submit").attr("disabled", "disabled"); // Запрещаем отправку формы

		} else { // Условие, если поля совпадают

			$("#submit").removeAttr("disabled");  // Разрешаем отправку формы
			$(".error").html(""); // Скрываем сообщение

		}
	});
    })





    </script>

</head>
<body>
<div class="container">
    <form class="form-signin needs-validation" novalidate role="form" th:action="@{/registration}" th:method="post" th:object="${client}">
        <h2 class="form-signin-heading">Регистрация</h2>
        <div class="form-group">
            <label for="email" class="sr-only">Name</label>
            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Электронная почта" required autofocus>
            <div class="invalid-feedback">
                Введите свою электронную почту. Пример: ivanov@yandex.ru
            </div>
        </div>
        <div class="form-group">
            <label for="fullname" class="sr-only">Name</label>
            <input type="text" id="fullname" name="fullname" th:field="*{FullName}" class="form-control" placeholder="ФИО" required autofocus>
            <div class="invalid-feedback">
                Введите ФИО. Пример: Иванов Иван Иваныч
            </div>
        </div>
        <div class="form-group">
            <label for="passport" class="sr-only">Name</label>
            <input type="text" id="passport" name="passport" th:field="*{passport}" class="form-control form-control-sm my-1" pattern="\d\d\d\d-\d\d\d\d\d\d" placeholder="Паспорт" required autofocus>
            <div class="invalid-feedback">
                Введите данные паспорта. Пример 1234-567890
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="sr-only">Name</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control form-control-sm my-1" value="+7(___)___-__-__" pattern="\+7\(\d\d\d\)\d\d\d-\d\d-\d\d"
                   placeholder="+7(___)___-__-__" required autofocus>
            <div class="invalid-feedback">
                Введите свой номер телефеона. Пример +7(915)666-13-17
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Confirm Password</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Подтверждение пароля" required>

        </div>

        <div class="error"></div>


        <button name="Submit" type="submit" value="submit" id="submit" class="btn btn-lg btn-primary btn-block mx-auto">Зарегистрироваться</button>
        <a href="/login" id="reg" class="d-block btn btn-lg btn-primary btn-block" role="button">Авторизоваться</a>

    </form>

    <script th:src="@{/js/phoneSyntaxHelper.js}"></script>
    <script th:src="@{/js/validation.js}"></script>

</div>
</body>
</html>