<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Please sign in</title>
    <meta charset="UTF-8">
    <title>cars</title>
    <link rel="stylesheet" href="https://snipp.ru/cdn/chosen/1.8.7/chosen.min.css">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/chosen/1.8.7/chosen.jquery.min.js"></script>


    <script th:inline="javascript">

<!--    $(document).ready(function(){-->


<!--         let number = [[${cars}]];-->

<!--         let number2 = [[${clients}]];-->



<!--         $("#car").change(function() {-->
<!--         var cars = [];-->
<!--         $.each($("#car option:selected"), function(){-->
<!--            cars.push($(this).val());-->
<!--        });-->

<!--            let container = document.getElementById("container1");-->

<!--            while (container.hasChildNodes()) {-->
<!--                container.removeChild(container.lastChild);-->
<!--            }-->


<!--            for (let i = 0; i < number.length; i++) {-->

<!--                console.log()-->
<!--                if (cars.includes(number[i]["carId"].toString())) {-->

<!--                   container.appendChild(document.createTextNode(JSON.stringify(number[i])));-->
<!--                }-->

<!--            }-->


<!--         });-->

<!--         $("#client").change(function() {-->
<!--         var clients = [];-->
<!--         $.each($("#client option:selected"), function(){-->
<!--            clients.push($(this).val());-->
<!--        });-->

<!--            let container = document.getElementById("container2");-->

<!--            while (container.hasChildNodes()) {-->
<!--                container.removeChild(container.lastChild);-->
<!--            }-->


<!--            for (let i = 0; i < number2.length; i++) {-->

<!--                console.log(clients)-->
<!--                console.log(number2[i]["clientID"])-->
<!--                if (clients.includes(number2[i]["clientID"].toString())) {-->

<!--                   container.appendChild(document.createTextNode(JSON.stringify(number2[i])));-->
<!--                }-->

<!--            }-->


<!--         });-->


<!--        });-->

<!--    $(document).ready(function(){-->
<!--        $('#car').chosen({-->
<!--            width: '50%',-->
<!--            no_results_text: 'Совпадений не найдено',-->
<!--            placeholder_text_multiple: 'Выберите машину'-->
<!--        });-->
<!--        $('#client').chosen({-->
<!--            width: '50%',-->
<!--            no_results_text: 'Совпадений не найдено',-->
<!--            placeholder_text_multiple: 'Выберите клиента'-->
<!--        });-->

<!--    });-->
<!--    </script>-->


</head>


<body>

<div class="cardelete">
    <h1>Удаление машины</h1>





    <div class="container">
<!--        <form class="form-signin" role="form" th:action="@{/home/testcars}" th:method="post">-->

<!--            <select class="js-chosen" multiple="true" name="car" id="car" required th:name="cars" >-->
<!--                <option  value=""></option>-->
<!--                <option th:each="car: ${cars}" th:value="${car.carId}" th:text="|${car.carId} ${car.carRegistrationNumber}|">-->
<!--                </option>-->
<!--            </select> <br>-->

<!--            -->
<!--            <input type="submit" name="Отправить">-->
<!--        </form>-->

        <div th:each="car: ${cars}" th:value="${car.carId}">
            <a th:text="|${car.carId} ${car.carMark}|" th:href="@{/home}">smth</a>
            <br>
        </div>


        <div id="container1">

        </div>
    </div>

</div>


</body>
</html>